<footer class="no-js footer-nav">
    <nav>
        <h2 class="md" id="link-footer">MENU</h2>
        <ul id="footer-menu">
            <li><a href="/mechanic">mechanic</a></li>
            <li><a href="/boss">boss</a></li>
            <li><a href="/orderer">orderer</a></li>
            <li><a href="/controller">controller</a></li>
            <li><a href="/salesman">salesman</a></li>
            <li><a href="/grower">grower</a></li>
        </ul>
    </nav>
</footer>

    <script src="/header.js" async></script>
    {% comment %} <script src="/specifics.js" async></script> {% endcomment %}

</body>
</html>