<link rel="stylesheet" href="/styles/header.css">

<header class="nav">
    <picture>
        <source type="image/avif" srcset="/assets/logo-citysprout.avif">
        <source type="image/webp" srcset="/assets/logo-citysprout.webp">
        <img src="/assets/logo-citysprout.png" alt="logo citysprout">
    </picture>

    <a class="link-to-menu no-js" href="#nav">menu</a>

</header>

