<link rel="stylesheet" href="/styles/header.css">

<header class="nav">
    <picture>
        <source type="image/avif" src="/assets/logo-citysprout.avif">
        <source type="image/webp" src="/assets/logo-citysprout.webp">
        <img src="/assets/logo-citysprout.png" alt="logo citysprout">
    </picture>

    <a class="link-to-menu no-js" href="#nav">menu</a>


        {% comment %} <div class="nav-placeholder"></div> {% endcomment %}
        {% comment %} <details class="menu" open>
            <summary>MENU</summary>
            <ul class="content-menu">
                <li><a href="/mechanic">mechanic</a></li>
                <li><a href="/boss">boss</a></li>
                <li><a href="/orderer">orderer</a></li>
                <li><a href="/controller">controller</a></li>
                <li><a href="/salesman">salesman</a></li>
                <li><a href="/grower">grower</a></li>
            </ul>
        </details> {% endcomment %}

</header>

