<header>
    <h1>Welcome back, {{ roles.displayName | split: " " | first }}</h1>
    <p>Role: {{ roles.roleName }} at {{ roles.companyName }}</p>
    <p>{{ roles.unreadNotificationsCount }} unread messages</p>
</header>

