{% render 'partials/head.liquid' %}

<header class="nav">
    <a href="/mechanic">
        <picture>
            <source type="image/avif" src="/assets/logo-citysprout.avif">
            <source type="image/webp" src="/assets/logo-citysprout.webp">
            <img src="/assets/logo-citysprout.png" alt="logo citysprout">
        </picture>
    </a>

    <h1 class="md">System diagnostics data</h1>
</header>

<section class="diagnostics">


{% for system_data in mechanic.systemDiagnosticData %}
    <article>
        <h2 class="md">{{ system_data[0] }}</h2>
        <p>{{ system_data[1].status }}</p>
        <p>{{ system_data[1].lastCheck }}</p>
        <p>{{ system_data[1].issues }}</p>
    </article>
{% endfor %}

    
</section>