{% render 'partials/head.liquid' %}

<ul class="index">
    <li><a href="/mechanic">mechanic</a></li>
    <li><a href="/boss">boss</a></li>
    <li><a href="/orderer">orderer</a></li>
    <li><a href="/controller">controller</a></li>
    <li><a href="/salesman">salesman</a></li>
    <li><a href="/grower">grower</a></li>
</ul>

{% render 'partials/foot.liquid' %}