body {
    background-color: var(--background-color);
    margin: var(--md);
}

.index {
    li {
        background-color: var(--accent-color-one);
        padding: var(--sm);
        border-radius: var(--border-radius);
    }
}


header.nav {
    img {
        width: 100%;
        display: flex;
        justify-self: center;
        padding: var(--sm);
    }

    .link-to-menu {
        border-radius: var(--border-radius);
        padding: var(--sm);
        background-color: var(--accent-color-two);
        display: block;
        anchor-name: --menu;
        position: relative;
    }

    padding-bottom: var(--sm);

    @media (width > 42.5rem) {
        img {
            width: 80%;
        }
    }
    @media (width > 60rem) {
        img {
            width: 60%;
        }
    }
    @media (width > 75rem) {
        img {
            width: 50%;
        }
    }
}


/* MARK: JS NAVIGATION 
*/
.js nav {
    position: absolute;
    left: 0;
    height: 0;
    overflow: hidden;
    position-anchor: --menu;
    position-area: bottom span-right;
    padding: 0 var(--sm);
    transition: .1s ease;

    border-radius: var(--border-radius);
    background-color: var(--accent-color-two);
    width: fit-content;

    li {
        margin-bottom: var(--xs);
    }

    a {
        padding: .25rem;
        border-radius: var(--xs);

        &:hover {
            background-color: var(--background-color);
            color: var(--accent-color-one);
        }
    }

    @media (max-width: 42rem) {
        border-radius: var(--sm) 0 var(--sm) var(--sm);
        box-shadow: var(--box-shadow);
    }
}

.js nav.is-open {
    height: auto;
    top: auto;
    padding: var(--sm);
    margin: 0rem;
    border-radius: 0rem 0 var(--sm) var(--sm);

    transition: .3s ease;

    @media (width > 42rem) {
        border-radius: var(--border-radius);
    }
}

.js .link-to-menu:has(+ .is-open) {
    border-radius: var(--sm) var(--sm) var(--sm) 0;
    box-shadow: var(--box-shadow);
    transition: .3s ease;
}

@media (width > 42rem) {
    .js header>.link-to-menu {
        display: none;
    }

    .js nav {
        display: block;
        position: static;
        height: auto;
        padding: var(--sm);
        width: 100%;
        border-radius: var(--border-radius);

        transition: 0s;
    }

    .js ul {
        display: flex;
        gap: 1em;
        justify-content: center;

        li {
            margin-bottom: 0;
        }
    }
}


/* MARK: GREETING
*/
section.greeting {
    background-color: var(--accent-color-one);
    border-radius: var(--border-radius);
    padding: var(--sm);
    margin: var(--sm) 0;
    display: flex;
    gap: var(--xs);
    flex-direction: column;


    h1 {
        display: inline-block;
        /* Nodig voor hover op inline element */
        cursor: pointer;
    }

    h1::after {
        content: "👋";
        display: inline-block;
        margin-left: var(--xs);
        transform-origin: 70% 70%;
        /* zwaai vanuit “pols” */
        transition: transform 0.3s ease;
    }

    h1:hover::after {
        animation: wave 0.8s ease-in-out infinite;
    }

    .messages-count {
        background-color: var(--accent-color-two);
        border-radius: var(--xs);
        margin-top: var(--xs);
        padding: .25rem var(--sm);
        width: fit-content;
    }

    @media (width > 29rem) {
        .flex-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .messages-count {
            margin-top: 0;
        }
    }
}


/* MARK: DASHBOARD
*/
section.dashboard {
    margin: var(--md) 0 var(--lg) 0;
    padding-top: var(--sm);

    h2 {
        color: var(--accent-color-one);
    }

    ul {
        margin-top: var(--sm);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: var(--sm);

        li {
            height: 100%;
            align-content: center;
            background-color: var(--accent-color-one);

            border-radius: var(--border-radius);
            padding: var(--sm);

            transition: .3s ease;

            &:hover {
                box-shadow: var(--box-shadow);

                svg {
                    animation: rotation 1s normal;
                }
            }
        }

        a {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: var(--xs);

            text-decoration: none;
            line-height: 1;
        }

        @media (width > 64rem) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: var(--md);
        }
    }
}


/* MARK: POST POP-UP
*/
section.post {
    background-color: var(--accent-color-two);
    border-radius: var(--border-radius);
    padding: var(--sm);
    margin-top: var(--sm);

    h2 {
        &::after {
            content: "📩";
            margin-left: var(--sm);
        }
    }
    
    .dialog-btn {
        margin: var(--sm) 0;
    }

    article {
        background-color: var(--accent-color-one);

        p {
            max-width: 70ch;
        }
    }

    dialog {
        border: none;
        background-color: var(--accent-color-two);
        border-radius: var(--border-radius);
        padding: var(--sm);
        width: 80%;

        label {
            display: flex;
            flex-direction: column;
            font-family: var(--primary-font);
            color: var(--background-color);

            input,
            textarea {
                font-family: var(--primary-font);
                color: var(--background-color);
                font-size: var(--sm);
                padding: var(--xs);
                border: none;
                border-radius: var(--border-radius);
                margin-bottom: var(--sm);
            }

        }

        .button {
            margin-top: var(--sm);
        }

        @media (width > 42rem) {
            width: 60%;
        }
        @media (width > 60rem) {
            width: 50%;
        }
    }

    :open {
        display: block;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
    }

    ::backdrop {
        background-color: var(--background-color);
        opacity: .5;
    }

    @media (width > 32rem) {
        .dialog-btn {
            margin: 0;
        }
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: var(--sm);
        }
    }

    
}


/* MARK: PERSEPCTIVE
*/
section.perspective {
    background-color: var(--accent-color-two);
    border-radius: var(--border-radius);
    padding: var(--sm);
    margin-top: var(--md);

    max-width: 70ch;

    h2 {
        margin-bottom: var(--sm);
    }

    p {
        margin-bottom: var(--xs);
    }
}

.flex-messages-perspective {
    @media (width > 62rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--md);

        section.post,
        section.perspective {
            margin-top: 0;
            height: min-content;
        }
    }
}


/* MARK: FOOTER
*/
footer {
    border-radius: var(--border-radius);
    margin: var(--sm);
    padding: var(--sm);
    background-color: var(--accent-color-two);

}

#nav {
    li:nth-of-type(1)::before {
        content: "🧑‍🔧";
    }

    li:nth-of-type(2)::before {
        content: "🤵";
    }

    li:nth-of-type(3)::before {
        content: "🧑‍💻";
    }

    li:nth-of-type(4)::before {
        content: "👨‍🏫";
    }

    li:nth-of-type(5)::before {
        content: "👨‍💼";
    }

    li:nth-of-type(6)::before {
        content: "🧑‍💼";
    }
}

.js .footer-nav {
    display: none;

}