body {
    background-color: var(--background-color);
    margin: var(--md);
}

header.nav {
    img {
        width: 100%;
        display: flex;
        justify-self: center;
        padding: 1rem;
    }
    .link-to-menu {
        border-radius: var(--border-radius);
        padding: var(--sm);
        background-color: var(--accent-color-two);
        display: block;
        anchor-name: --menu;
        position: relative;
    }

    padding-bottom: 1rem;

    @media (width > 42.5rem) {
        img {
            width: 80%;
        }
    }
    @media (width > 60rem) {
        img {
            width: 60%;
        }
    }
    @media (width > 75rem) {
        img {
            width: 50%;
        }
    }
}

/* JS NAVIGATION */
.js nav {
	position:absolute;
	left:0;
	height:0;
	overflow:hidden;
    position-anchor: --menu;
    position-area: bottom span-right;
    padding: 0 1rem;
    transition: .1s ease;

    border-radius: var(--border-radius);
    background-color: var(--accent-color-two);
    width: fit-content;

    li {
        margin-bottom: var(--xs);
    }

    a {
        padding: .25rem;
        border-radius: .5rem;

        &:hover {
            background-color: var(--background-color);
            color: var(--accent-color-one);
        }
    }

    @media (max-width: 34rem) {
        border-radius: 1rem 0 1rem 1rem;
        box-shadow: var(--box-shadow);
    }
}

.js nav.is-open {
    height: auto;
    top: auto;
    padding: 1rem;
    margin: 0rem;
    border-radius: 0rem 0 1rem 1rem;

    transition: .3s ease;

    @media (width > 34rem) {
        border-radius: var(--border-radius);
    }
}

.js .footer-nav  {
    display: none;

}

.js .link-to-menu:has(+ .is-open) {
    border-radius: 1rem 1rem 1rem 0;
    box-shadow: var(--box-shadow);
    transition: .3s ease;
}

@media (width > 34rem) {
	.js header > .link-to-menu {
		display:none;
	}
	
	.js nav {
        display: block;
		position:static;
		height:auto;
		padding: 1rem;
        width: 100%;
        border-radius: var(--border-radius);

		transition:0s;
	}		
		
	.js	ul {
		display:flex;
		gap:1em;
        justify-content: center;

        li {
            margin-bottom: 0;
        }
	}
}


section.greeting {
    background-color: var(--accent-color-one);
    border-radius: var(--border-radius);
    padding: var(--sm);
    margin: var(--sm) 0;
    display: flex;
    gap: var(--xs);
    flex-direction: column;


h1 {
  display: inline-block; /* Nodig voor hover op inline element */
  cursor: pointer;
}

h1::after {
  content: "👋";
  display: inline-block;
  margin-left: .5rem;
  transform-origin: 70% 70%; /* zwaai vanuit “pols” */
  transition: transform 0.3s ease;
}

h1:hover::after {
  animation: wave 0.8s ease-in-out infinite;
}

    .messages-count {
        background-color: var(--accent-color-two);
        border-radius: var(--xs);
        margin-top: var(--xs);
        padding: .25rem var(--sm);
        width: fit-content;
    }

    @media (width > 29rem) {
        .flex-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .messages-count {
            margin-top: 0;
        }
    } 
}

section.dashboard {
    margin: var(--sm) 0 var(--md) 0;
    padding-top: var(--sm);
    
    h2 {
        color: var(--accent-color-one);
    }
    ul {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;  

        li {
            height: 100%;
            align-content: center;
            background-color: var(--accent-color-one);
            
            border-radius: var(--border-radius);
            padding: var(--sm);

            transition: .3s ease;

            &:hover {
                box-shadow: var(--box-shadow);
                
                svg {
                    animation: rotation 1s normal;
                }
            }

        }
        a {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: var(--xs);

            text-decoration: none;
            line-height: 1;
        }

        @media (width > 64rem) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}

section.post {
    background-color: var(--accent-color-one);
    border-radius: var(--border-radius);
    padding: var(--sm);
    margin-top: var(--sm);
    h2 {
        margin-bottom: var(--sm);
    }
    dialog {
        border: none;
        background-color: var(--accent-color-two);
        border-radius: var(--border-radius);
        padding: var(--sm);

        label {
            display: flex;
            flex-direction: column;
            font-family: var(--primary-font);
            color: var(--background-color);

            input, 
            textarea {
                font-family: var(--primary-font);
                color: var(--background-color);
                font-size: 1rem;
                padding: .5rem;
                border: none;
                border-radius: var(--border-radius);
            }
        }

    }
    .post-btn {
        font-family: var(--primary-font);
        background-color: var(--accent-color-two);
        text-decoration: none;
        font-size: 1rem;
        padding: .5rem;
        border: none;
        border-radius: var(--border-radius);
    }
}


section.perspective {
    background-color: var(--accent-color-two);
    border-radius: var(--border-radius);
    padding: var(--sm);
    margin-top: var(--md);

    max-width: 70ch;

    h2 {
        margin-bottom: var(--sm);
    }
    p {
        margin-bottom: var(--xs);
    }
}

footer {
    border-radius: var(--border-radius);
    margin: var(--sm);
    padding: var(--sm);
    background-color: var(--accent-color-two);

}

