/* header {

    .link-to-menu {
        border-radius: var(--border-radius);
        margin: var(--sm);
        padding: var(--sm);
        background-color: var(--accent-color-two);

        li {
            list-style-type: none;
        }
    }
} */


/* header {
    border-radius: var(--border-radius);
    margin: var(--sm);

    summary {
        background-color: var(--accent-color-two);
        border-radius: var(--sm);
        padding: 1rem;
    }
    .content-menu {
        background-color: var(--accent-color-two);
        position: absolute;
        padding: 1rem;
        border-radius: 0 0 var(--sm) var(--sm);

        li {
            list-style-type: none;
            
        }
    }

    details[open] {
        summary {
            border-radius: var(--sm) var(--sm) var(--sm) 0;
        }
    }

} */

