@view-transition {
  navigation: auto;
}

html {
	@media (prefers-reduced-motion:no-preference) {
		scroll-behavior:smooth;
	}
    
    interpolate-size:allow-keywords;
}

@font-face {
    font-family: "avenir";
    src: url(/assets/Avenir.ttc) format(truetype);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --primary-font: "avenir";

    --background-color: rgb(28, 64, 49);
    --accent-color-one: rgb(255, 255, 255);
    --accent-color-two: rgb(223, 246, 218);
    --accent-color-three: rgb(234, 211, 163);
    --accent-color-four: rgb(142, 179, 163);

    /* FONT-WEIGHT */
    --fw-light: 400;
    --fw-medium: 700;
    --fw-large: 800;

    /* SIZING */
    --xs: .5rem;
    --sm: 1rem;
    --md: 2rem;
    --lg: 3rem;
    --xl: 4rem;
    --xxl: 6rem;

    --border-radius: var(--sm);
    --box-shadow: 5px 5px 0px var(--accent-color-four);
}

h1, h2, h3, p, a {
    font-family: var(--primary-font);
    color: var(--background-color);
}

h1,
.xl {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
}


h2,
.lg {
    font-size: clamp(2rem, 5vw, 2.5rem);
}


h3,
.md {
    font-size: clamp(1.5rem, 4vw, 2rem)

}


h4,
.sm {
    font-size: clamp(1rem, 3.5vw, 1.5rem)
}


.xs {
    font-size: clamp(.75rem, 3.5vw, 1.5rem)
}

.bold {
    font-weight: 900;
}

li {
    list-style-type: none;
}


@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}
